{% extends "layout.html" %}
{% block main %}
<center>
    <div class="register-form">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-primary register-button" type="submit">Register</button>
            <div class="form-info-bottom">Already have an account? <a href="/login">Sign in</a></div>
        </form>
    </div>
</center>
{% endblock %}